body {
    background-color: azure;
}

table {
    padding: 0 0 0 0;
    border: 3px solid black;
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border: 1px solid black;
    width: 120px;
    height: 60px;
    margin: 0;
    padding: 0;
}

th div.group {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 0;
    height: 20px;
    text-align: center;
    vertical-align: text-bottom;
}

th div.A {
    text-align: left;
    padding: 4px 0 0 4px;
    margin: 0;
    float: left;
    width: 30px;
    height: 10px;
    vertical-align: text-bottom;
}

th div.B {
    text-align: right;
    padding: 4px 4px 0 0;
    margin: 0;
    float: right;
    width: 30px;
    height: 10px;
    vertical-align: text-bottom;
}

td div.s {
    background-color: rgb(247, 123, 191);
    height: 60px;
}

td div.nomber_r {
    background-color: white;
    width: 15px;
    height: 10px;
    float: right;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

td div.p {
    background-color: rgb(245, 243, 153);
    height: 60px;
}

td div.d {
    background-color: rgb(122, 245, 235);
    height: 60px;
    text-align: right;
}

td div.nomber_l {
    background-color: white;
    width: 15x;
    height: 10px;
    float: left;
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}

td.oxide {
    background-color: bisque;
    text-align: center;

}

table td.lant {
    border: 1px solid black;
    width: 96px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: rgb(194, 243, 120);
    height: 60px;
    text-align: right;
}

table td.akt {
    border: 1px solid black;
    width: 96px;
    height: 60px;
    margin: 0;
    padding: 0;
    background-color: rgb(139, 161, 106);
    height: 60px;
    text-align: right;
}