*box {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1B2473;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    margin: 0 auto;
    width: 600px;
    height: min-content;
    top: 82px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    position: relative;
}

.form-title {
    position: relative;
    margin-bottom: 36px;
    height: min-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}

.form-mail {
    position: relative;
    height: min-content;
    top: -17px;
    margin-bottom: 32px;
}

.form-mail label {
    position: relative;
    color: #787878;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}
 
.form-mail input {
    position: relative;
    width: 509px;
    height: 49px;
    border-radius: 10px;
    color: #787878;
    border: 2px solid #787878;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.form-password {
    position: relative;
    height: min-content;
    margin-top: -17px;
}

.form-password label {
    position: relative;
    color: #787878;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
}

.form-password input {
    position: relative;
    width: 509px;
    height: 49px;
    border-radius: 10px;
    color: #787878;
    border: 2px solid #787878;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

.form-checked {
    position: relative;
    height: min-content;
    width: 509px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
}

.form-checked input {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.form-checked label {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}

.form-checked label::before {
    content: '';
    display: inline-flex;
    position: relative;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    border: 2px solid #787878;
    border-radius: 7px;
}

.form-checked input:checked + label::before {
    background-color: #1B2473;
}

.form-button button {
    position: relative;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    background-color: #1A226B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
}